.App {
  
}

.todos {
  margin: 0 auto;
  padding: 1em;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  border-radius: .5em;
  box-shadow: 0.1 0.1 0.1 rgba(255, 255, 255, 0.2);
}

.title {
  text-align: center;
  font-size: 1.8rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  font-size: 1.5em;
  background-color: white;
  border-radius: 0.3em;
}

.todo--privat {
  background-color: lightblue;
}

.todo--business {
  background-color: lightgrey;
}

.isFavorite {
  margin-left: auto;
  margin-right: .5em;
  cursor: pointer;
}

.box {
  align-self: center;
  padding: 1em;
  margin: 0;
  cursor: pointer;
}

.remove:hover {
  background-color: lightcoral;
}

.check:hover {
  background-color: lightgreen;
}